::selection {
    background: lighten($primary, 5%);
    color: $primary-invert;
}

html.is-clipped-touch {
    @include touch {
        overflow: hidden !important;
    }
}

.media-content {
    overflow-y: hidden;
    overflow-x: auto;
}
