// Bulma vars
@import "~bulma/sass/utilities/_all";

// Buefy vars
@import "../../../src/scss/utils/_all";

// Docs variables
@import "_variables";

// Docs elements / components
@import "_apiview";
@import "_codeview";
@import "_example";
@import "_expo";
@import "_generic";
@import "_navbar";
@import "_header";
@import "_footer";
@import "_home";
@import "_sidebar";
@import "_templates";

// Bulma
@import "~bulma";

// Buefy
@import "../../../src/scss/buefy";

// Highlight.js
@import "~highlight.js/styles/atelier-cave-light.css";

// MDI
$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";

// FontAwesome
// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

// FontAwesome 5
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
