{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
      }
    ],
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
