{
  "env": {
    "jest": true
  },
  "extends": [
    "buefy",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "vue/attributes-order": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "never",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ]
  }
}
