{
  "env": {
    "jest": true
  },
  "extends": [
    "plugin:vue/vue3-recommended"
  ],
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "rules": {
        "max-len": [
          "error",
          {
            "code": 100,
            "tabWidth": 4,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
          }
        ]
      }
    },
    {
      "files": [
        "*.js",
        "*.vue"
      ],
      "rules": {
        "vue/attributes-order": "off",
        "vue/html-self-closing": [
          "error",
          {
            "html": {
              "void": "never",
              "normal": "always",
              "component": "always"
            },
            "svg": "always",
            "math": "always"
          }
        ],
        "indent": [
          "error",
          4,
          {
            "SwitchCase": 1
          }
        ],
        "space-before-function-paren": [
          "error",
          {
            "anonymous": "always",
            "named": "never"
          }
        ],
        "no-console": [
          "warn"
        ],
        "arrow-parens": [
          "error",
          "always"
        ],
        "max-depth": [
          "error",
          4
        ],
        "vue/max-len": [
          "error",
          {
            "code": 100,
            "template": 100,
            "tabWidth": 4,
            "comments": 100,
            "ignorePattern": "",
            "ignoreComments": false,
            "ignoreTrailingComments": false,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true,
            "ignoreHTMLAttributeValues": false,
            "ignoreHTMLTextContents": false
          }
        ],
        "vue/html-indent": [
          "error",
          4,
          {
            "attribute": 1,
            "baseIndent": 1,
            "closeBracket": 0,
            "alignAttributesVertically": true
          }
        ],
        "vue/max-attributes-per-line": [
          "error",
          {
            "singleline": 4,
            "multiline": {
              "max": 1,
              "allowFirstLine": false
            }
          }
        ],
        // vue
        "vue/require-v-for-key": [
          "warn"
        ],
        "vue/order-in-components": [
          "error",
          {
            "order": [
              "el",
              "name",
              "parent",
              "functional",
              [
                "delimiters",
                "comments"
              ],
              [
                "components",
                "directives",
                "filters"
              ],
              "extends",
              "mixins",
              "inheritAttrs",
              "model",
              [
                "props",
                "propsData"
              ],
              "data",
              "computed",
              "watch",
              "methods",
              "LIFECYCLE_HOOKS",
              [
                "template",
                "render"
              ],
              "renderError"
            ]
          }
        ],
        "vue/no-reserved-keys": 0,
        "vue/require-default-prop": 0,
        "vue/html-closing-bracket-newline": [
          "error",
          {
            "singleline": "never",
            "multiline": "never"
          }
        ],
        "vue/return-in-computed-property": "off",
        "vue/no-v-html": "off",
        // only activate with vue3
        "vue/no-deprecated-v-on-native-modifier": "off",
        "vue/no-deprecated-dollar-listeners-api": "off",
        "vue/require-slots-as-functions": "off"
      }
    }
  ]
}
