{
  "singleQuote": true,
  "printWidth": 100,
  "editor.formatOnSave": false,
  "proseWrap": "never",
  "tabWidth": 2,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": false
}
