$avatar-16x16: 16px;
$avatar-24x24: 24px;
$avatar-32x32: 32px;
$avatar-48x48: 48px;
$avatar-64x64: 64px;
$avatar-96x96: 96px;
$avatar-128x128: 128px;

.avatar {
    .avatar-text {
        .label {
            color: white;
            text-align: center;
            /* Center the text horizontally and vertically */
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            /* Disable selecting the text */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
    }
    .avatar-text, .avatar-picture {
        &.is-rounded {
            border-radius: 50%;
        }
        &.is-16x16 {
            .label {
                font-size: calc(#{$avatar-16x16} / 2);
            }
            width: $avatar-16x16;
            height: $avatar-16x16;
        }
        &.is-24x24 {
            .label {
                font-size: calc(#{$avatar-24x24} / 2);
            }
            width: $avatar-24x24;
            height: $avatar-24x24;
        }
        &.is-32x32 {
            .label {
                font-size: calc(#{$avatar-32x32} / 2);
            }
            width: $avatar-32x32;
            height: $avatar-32x32;
        }
        &.is-48x48 {
            .label {
                font-size: calc(#{$avatar-48x48} / 2);
            }
            width: $avatar-48x48;
            height: $avatar-48x48;
        }
        &.is-64x64 {
            .label {
                font-size: calc(#{$avatar-64x64} / 2);
            }
            width: $avatar-64x64;
            height: $avatar-64x64;
        }
        &.is-96x96 {
            .label {
                font-size: calc(#{$avatar-96x96} / 2);
            }
            width: $avatar-96x96;
            height: $avatar-96x96;
        }
        &.is-128x128 {
            .label {
                font-size: calc(#{$avatar-128x128} / 2);
            }
            width: $avatar-128x128;
            height: $avatar-128x128;
        }
    }
}
