.backtotop {
	transition: all 1s linear 1s!important;

	&.is-top-right {
		position: absolute;
		z-index: 999;
		top: 10px;
		right:10px;
		position: fixed;
	}
	&.is-top-left {
		position: absolute;
		z-index: 999;
		top: 10px;
		left:10px;
		position: fixed;
	}
	&.is-bottom-right {
		position: absolute;
		z-index: 999;
		bottom: 10px;
		right:10px;
		position: fixed;
	}
	&.is-bottom-left {
		position: absolute;
		z-index: 999;
		bottom: 10px;
		left:10px;
		position: fixed;
	}
	&.is-visible {
		display: block;
	}
	&.is-hidden {
		display: none;
	}
}