$checkbox-active-background: $primary !default;
$checkbox-active: $primary-invert !default;

.checkbox {
    outline: none;
    display: inline-flex;
    align-items: center;
    & + .checkbox {
        margin-left: 0.5em;
    }
    input[type=checkbox] {
        display: none;
        + .check {
            width: 1.25em;
            height: 1.25em;
            border-radius: $radius;
            border: 2px solid $grey;
            transition: background $speed-slow $easing;
        }
        &:checked + .check {
            background: $checkbox-active-background url(checkmark($checkbox-active)) no-repeat center center;
            border-color: $checkbox-active-background;
        }
    }
    .control-label {
        padding-left: 0.5em;
    }
    &[disabled] {
        opacity: 0.5;
    }
    &:hover {
        input[type=checkbox] + .check {
            border-color: $checkbox-active-background;
        }
    }
    &:focus {
        input[type=checkbox] + .check {
            box-shadow: 0 0 0.5em rgba($grey, 0.8);
        }
        input[type=checkbox]:checked + .check {
            box-shadow: 0 0 0.5em rgba($checkbox-active-background, 0.8);
        }
    }
}
