$colorpicker-radius: $dropdown-content-radius !default;
$colorpicker-hue-selected-stroke: $primary !default;

.colorpicker {
    .color-name {
        font-family: $family-monospace;
        text-transform: uppercase;
    }
    .colorpicker-footer {
        margin-top: .875rem;
        padding-top: .875rem;
        border-top: 1px solid #dbdbdb;

        .colorpicker-fields {
            .field {
                flex-grow: 1;

                .field-label {
                    margin-right: .5rem;
                }
                .control {
                    display: flex;
                    .input {
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        appearance: textfield;
                        flex-grow: 1;
                        width: 0;
                        text-align: right;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .dropdown.is-expanded .dropdown-menu,
    .dropdown.is-expanded.is-mobile-modal .dropdown-menu {
        width: unset;
    }
}

svg.colorpicker-spectrum {
    width: 200px;
    height: 200px;
    user-select: none;

    @media (max-width: $tablet) {
        width: 100%;
        height: auto;
    }

    .colorpicker-spectrum-hue {
        width: 100%;
        height: 100%;
        background:
            conic-gradient(
                #f00,
                #ff0,
                #0f0,
                #0ff,
                #00f,
                #f0f,
                #f00
            );
    }

    .colorpicker-spectrum-slider {
        &-hue,
        &-sl {
            &,
            & foreignObject,
            & g {
                transform-origin: 50% 50%;
            }
        }
    }

    .hue-range-thumb,
    .sl-range-thumb {
        background: transparent;
        border-radius: $colorpicker-radius;
        box-shadow:
            inset 0 0 0 1px #fff,
            0 0 0 1px #dbdbdb;
        cursor: grab;
        height: calc(100%/1 - .25em/1);
        width: calc(100%/1 - .25em/1);
        margin: .125em;

        &:hover {
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px #b5b5b5;
        }
        &:focus {
            box-shadow:
                inset 0 0 0 1px #fff,
                0 0 0 1px $colorpicker-hue-selected-stroke,
                0 0 0 .125em rgba($colorpicker-hue-selected-stroke, .25);
        }
        &:active {
            cursor: grabbing;
        }
    }
}
