.dropdown {
    position: relative;
    display: inline-block;
    & + .dropdown {
        margin-left: 0.5em;
    }
    .trigger {
        display: inline-block;
    }
    .background {
        @include overlay;
        position: fixed;
        background-color: rgba($black, 0.86);
        z-index: 8;
        animation-duration: $speed-slow;
    }
    .box {
        position: absolute;
        top: 2.5em;
        padding: 0.5em 0;
        z-index: 10;
        white-space: nowrap;
        overflow: auto;
        animation-duration: $speed;
        &.is-opened-top {
            top: auto;
            bottom: 2.5em;
        }
        &.is-opened-left {
            left: auto;
            right: 0;
        }
        &.is-narrow {
            .option {
                padding: 0.25rem 0.75rem;
            }
        }
        .option {
            @include unselectable;
            padding: 0.5rem 1rem;
            cursor: pointer;
            &:not(.is-subheader):hover {
                background: $background;
            }
            &.is-selected {
                background: $primary !important;
                color: $primary-invert;
            }
            &.is-separator {
                border-bottom: 1px solid $background;
                margin: .5rem 0;
                padding: 0 !important;
            }
            &.is-disabled {
                opacity: .5;
                pointer-events: none;
            }
            &.is-subheader {
                cursor: inherit;
                // Remove unselectable
                -webkit-touch-callout: auto;
                -webkit-user-select: auto;
                -moz-user-select: auto;
                -ms-user-select: auto;
                user-select: auto;
            }
        }
    }
    @include touch {
        .box {
            position: fixed;
            width: calc(100vw - 60px);
            max-width: 600px;
            max-height: calc(100vh - 120px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: normal;
            &.is-narrow {
                .option {
                    padding: 0.75rem 1rem;
                }
            }
            .option {
                padding: 1rem 1.5rem;
                &.has-subheader {
                    padding: 1rem 2rem;
                }
            }
        }
    }
}
