.icon {
    @include unselectable;
    cursor: inherit;
    svg {
        background-color: transparent;
        fill: currentColor;
        stroke-width: 0;
        stroke: currentColor;
        pointer-events: none;
        width: 1.5rem;
        height: 1.5rem;
    }
}
