.b-menu-list {
    .menu-list li ul {
        margin-right: 0;
    }

    &:not(:first-child) {
        .menu-label {
            margin-top: 1em;
        }
    }
}

.b-menu-dropdown {
    > a {
        position: relative;
        padding-right: 2em;

        &::after {
            @include arrow($text);
            margin-top: -0.375em;
            right: 0.75em;
            top: 50%;
        }

        &:hover {
            &::after {
                border-color: $link;
            }
        }
    }

    &.is-active {
        > a::after {
            transform: rotate(135deg);
            margin-top: -0.125em;
        }
    }
}
