.message,
.notification {
    .media {
        padding-top: 0;
        border: 0;
    }
    .auto-close-progress {
        progress {
            border-top-left-radius: 0!important;
            border-top-right-radius: 0!important;
            border-bottom-left-radius: 0!important;
            border-bottom-right-radius: 0!important;
            height: 10px!important;
        }
    }
}
