.modal,
.modal-content {
    transition: all $speed-slow $easing;
}

.modal-content {
    width: 960px;
}

.modal-enter,
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-content{
    transform: scale(1.05);
}
.modal-leave-active .modal-content {
    transform: scale(1.05);
}
