.modal,
.animation-content {
    transition: opacity $speed-slow $easing, transform $speed-slow $easing;
}

.modal .animation-content {
    margin: 0 1em;
    .modal-card {
        margin: 0;
    }
}
