.radio {
    outline: none;
    display: inline-flex;
    align-items: center;
    & + .radio {
        margin-left: 0.5em;
    }
    input[type=radio] {
        display: none;
        + .check {
            position: relative;
            width: 1.25em;
            height: 1.25em;
            border: 2px solid $grey;
            background: none;
            transition: border-color $speed $easing;
            border-radius: 50%;
            &:before,
            &:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                left: -2px; // Border gap
                top: -2px; // Border gap
                width: 1.25em;
                height: 1.25em;
            }
            &:before {
                background: $primary;
                transform: scale(0);
                transition: transform $speed $easing;
            }
            &:after {
                background: rgba($grey, 0.25);
                opacity: 0;
                transform: scale(0);
                transition: opacity $speed-slow $easing, transform $speed-slower $easing, background $speed-slow $easing;
            }
        }
        &:checked + .check {
            border-color: $primary;
            &:before {
                transform: scale(0.5);
            }
            &:after {
                background: rgba($primary, 0.25);
            }
        }
    }
    .label {
        font-weight: $weight-normal;
        position: relative;
        padding-left: 0.5em;
    }
    &[disabled] {
        opacity: 0.5;
    }
    &:hover {
        input[type=radio] + .check {
            border-color: $primary;
        }
    }
    &:focus {
        input[type=radio] + .check:after {
            transform: scale(1.6);
            opacity: 1;
        }
    }
}
