.switch {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    & + .switch {
        margin-left: 0.5em;
    }
    input[type=checkbox] {
        display: none;
        + .check {
            position: relative;
            width: 2.75em;
            height: 1.5em;
            background: $grey-light;
            border-radius: 1em;
            transition: all $speed $easing;
            &:before {
                content: "";
                position: absolute;
                border-radius: 50%;
                width: 1.5em;
                height: inherit;
                background: $background;
                transform: scale(0.75);
                box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
                animation-name: switchOff;
                animation-timing-function: linear;
            }
            &.animated:before {
                animation-duration: $speed-slower;
            }
        }
        &:checked + .check {
            background: $primary;
            &:before {
                animation-name: switchOn;
                animation-fill-mode: forwards;
            }
        }
    }
    .label {
        font-weight: $weight-normal;
        position: relative;
        padding-left: 0.5em;
    }
    &[disabled] {
        opacity: 0.5;
    }
    &:focus {
        input[type=checkbox] + .check {
            box-shadow: 0 0 0.5em rgba($grey, 0.6);
        }
        input[type=checkbox]:checked + .check {
            box-shadow: 0 0 0.5em rgba($primary, 0.8);
        }
    }
}
