.b-tabs {
    .tab-content {
        position: relative;
        overflow: hidden;
        display: flex;
        .tab-item {
            flex-shrink: 0;
            flex-basis: 100%;
            &.is-animated {
                transition: transform $speed-slower cubic-bezier(0.785, 0.135, 0.150, 0.860);
            }
        }
    }
}
