.b-tabs {
    .tabs {
        margin-bottom: 0;
        flex-shrink: 0;
        li {
            &.is-disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
    .tab-content {
        position: relative;
        overflow: visible;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .tab-item {
            flex-shrink: 0;
            flex-basis: auto;
        }
        &.is-transitioning {
            overflow: hidden;
        }
    }
    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    &.is-fullwidth {
        width: 100%;
    }
    &.is-vertical {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > .tabs {
            ul {
                flex-direction: column;
                border-bottom-color: transparent;

                li {
                    width: 100%;

                    a {
                        justify-content: left;
                    }
                }
            }

            &.is-boxed {
                li {
                    a {
                        border-bottom-color: transparent !important;
                        border-right-color: $tabs-border-bottom-color !important;
                        border-radius: $tabs-boxed-link-radius 0 0 $tabs-boxed-link-radius;
                    }

                    &.is-active {
                        a {
                            border-bottom-color: $tabs-border-bottom-color !important;
                            border-right-color: transparent !important;
                        }
                    }
                }
            }
            &.is-toggle {
                li {
                    + li {
                        margin-left: 0;
                    }
                    &:first-child {
                        a {
                            border-radius: $tabs-toggle-link-radius $tabs-toggle-link-radius 0 0;
                        }
                    }
                    &:last-child {
                        a {
                            border-radius: 0 0 $tabs-toggle-link-radius $tabs-toggle-link-radius;
                        }
                    }
                }
            }
            &.is-fullwidth {
                li {
                    a {
                        height: 100%;
                    }
                }
            }
        }
        > .tab-content {
            flex-grow: 1;
        }

        &.is-right {
            flex-direction: row-reverse;

            > .tabs {
                ul {
                    a {
                        flex-direction: row-reverse;

                        .icon:first-child {
                            margin-right: 0;
                            margin-left: 0.5em
                        }
                    }
                }

                &.is-boxed {
                    li {
                        a {
                            border-bottom-color: transparent !important;
                            border-right-color: transparent !important;
                            border-left-color: $tabs-border-bottom-color !important;
                            border-radius: 0 $tabs-boxed-link-radius $tabs-boxed-link-radius 0;
                        }

                        &.is-active {
                            a {
                                border-bottom-color: $tabs-border-bottom-color !important;
                                border-right-color: $tabs-border-bottom-color !important;
                                border-left-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.is-multiline {
        > .tabs {
            ul {
                flex-wrap: wrap;
                flex-shrink: 1;
            }
        }
    }
}
