.b-tabs {
    .tab-content {
        position: relative;
        overflow: hidden;
        .tab-item {
            position: absolute;
            width: 100%;
            &.is-animated {
                transition: transform 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
            }
        }
    }
}
