.tag-input {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0;
    cursor: text;

    > * {
        margin-bottom: 0.5rem;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    input {
        flex-grow: 1;
        height: 2em;
        margin-bottom: 0.5rem;
        padding: 0;
        border: none;
        outline: none;
        font-size: $size-normal;
        line-height: 1.5;
        color: $grey-darker;

        &:not(:first-child) {
            padding-left: 0.25rem;
        }

        // Sizes
        &.is-small {
            font-size: $size-small;
        }
        &.is-large {
            font-size: $size-large;
        }
    }
}
