.taginput {
    .taginput-container {
        &.is-focusable {
            @extend .input;
            padding-bottom: 0;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            height: auto;
            cursor: text;
        }

        > .tag,
        > .tags {
            margin-bottom: calc(0.375em - 1px);
            font-size: 0.9em;
            height: 2.25em;
            .tag {
                margin-bottom: 0;
                font-size: 0.9em;
                height: 2.25em;
            }
            &:not(:last-child) {
                margin-right: 0.375rem;
            }
        }

        .autocomplete {
            flex: 1;
            input {
                height: 2em;
                margin-bottom: calc(0.375em - 1px);
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                box-shadow: none;
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}
