.timepicker {
    .dropdown-menu {
        min-width: 0;
    }
    .dropdown,
    .dropdown-trigger {
        width: 100%;
    }
    .dropdown-item {
        font-size: inherit;
        padding: 0;
    }
    .timepicker-footer {
        padding: 0 0.5rem 0 0.5rem;
    }
    .dropdown-content {
        .control {
            font-size: 1.25em;
            margin-right: 0 !important;
            .select {
                select {
                    font-weight: $weight-semibold;
                    padding-right: $control-padding-horizontal;
                    border: 0;
                    option {
                        &:disabled {
                            color: rgba($grey, 0.7);
                        }
                    }
                }
                &:after {
                    display: none;
                }
            }
            &.is-colon {
                font-size: 1.7em;
            }
        }
    }
    // Sizes
    &.is-small {
        @include control-small;
    }
    &.is-medium {
        @include control-medium;
    }
    &.is-large {
        @include control-large;
    }
}
