.toasts {
    position: fixed;
    display: flex;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: center;

    &.bottom {
        top: auto;
        bottom: 0;
    }

    .toast {
        display: inline-block;
        animation-duration: $speed-slow;
        margin: 24px 8px;
        text-align: center;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
        border-radius: 28px;
        padding: 12px 24px;
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            $color-invert: nth($pair, 2);
            &.is-#{$name} {
                color: $color-invert;
                background: $color;
            }
        }
    }
}
