.example {
    border: 1px solid $warning;
    border-top-right-radius: $radius;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    &:not(:first-child) {
        margin-top: 2rem;
    }
    &:not(:last-child) {
        margin-bottom: 1.5rem
    }
    &:before {
        background: $warning;
        border-radius: $radius $radius 0 0;
        bottom: 100%;
        content: "Example";
        display: inline-block;
        font-size: 7px;
        font-weight: bold;
        left: -1px;
        letter-spacing: 1px;
        padding: 3px 5px;
        position: absolute;
        text-transform: uppercase;
        vertical-align: top;
    }
    .example-component {
        padding: 1.5rem;
    }
    .example-code {
        border-top: 1px solid $warning;
    }
    &.is-flex {
        align-items: center;
    }
}

// .columns.is-example {
//     @include desktop {
//         .column {
//             display: flex;
//             pre code {
//                 flex: 1;
//                 max-height: none;
//             }
//             &:first-child {
//                 padding-right: 0;
//                 .example {
//                     border-top-right-radius: 0;
//                     border-right: 0;
//                 }
//             }
//             &:last-child {
//                 padding-left: 0;
//             }
//         }
//     }
// }
