.header.navbar {
    &.is-transparent {
        box-shadow: 0 1px 0 rgba($white, 0.2);
    }

    .version {
        flex-direction: column;
        align-items: left;
    }

    .navbar-dropdown {
        .navbar-item {
            display: flex;
            .navbar-item-text {
                flex: 1;
            }
        }
        .is-subitem {
            text-transform: uppercase;
            color: $grey;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }
}
