.sidebar-bg {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 0;
    top: 0;
    background: $background;
    @include touch {
        display: none;
    }
}
.sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    flex-shrink: 0;
    width: 16rem;
    padding: 3rem 1rem 3rem 0;
    overflow: auto;
    p {
        margin-bottom: 0.5em;
        // font-weight: $weight-light;
        color: $grey;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    ul {
        margin-bottom: 1.5em;
        margin-top: 0;
        li {
            margin-bottom: 0.25em;
            font-weight: $weight-semibold;
            li {
                font-weight: $weight-normal;
                font-size: 0.9rem;
            }
        }
        ul {
            margin-left: 1em;
            margin-top: 0.25em;
            margin-bottom: 0.5em;
        }
        a {
            display: flex;
            color: $text;
            &.is-active {
                color: $primary;
                font-weight: $weight-semibold;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:hover:not(.is-active) {
                color: $link;
            }
        }
        .sidebar-menu-text {
            flex: 1;
        }
    }
    @include touch {
        display: none;
    }
}
