.template-horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    .default-container {
        padding-left: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        overflow: hidden;
        width: 100%;
        &.is-header {
            border-bottom: 2px solid $white-ter;
        }
        @include touch {
            padding-left: 0;
        }
    }
    @include touch {
        display: block;
    }
}

.documentation,
.extensions {
    position: relative;
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .main {
        position: relative;
        background: $white;
        width: 100%;
    }
}
