// Colors

$primary: #7957d5;
$twitter: #4099FF;
$discord: #7289DA;
$patreon: #f96854;;
$bulma: #00D1B2;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "grey": ($grey, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $white),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "link": ($link, $link-invert),
    "twitter": ($twitter, $white),
    "discord": ($discord, $white),
    "patreon": ($patreon, $white),
    "bulma": ($bulma, $white)
);

$navbar-height: 3.25rem;
$navbar-item-active-color: $primary;

$menu-item-active-background-color: $primary;
$menu-item-hover-background-color: $grey-lighter;
