@import "~bulma/sass/utilities/_all";
@import "../src/scss/utils/_theme-variables";

// Colors
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$facebook: #4267B2;
$facebook-invert: findColorInvert($facebook);
$googleplus: #DB4437;
$googleplus-invert: findColorInvert($googleplus);
$primary-invert: findColorInvert($primary);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "grey": ($grey, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "facebook": ($facebook, $facebook-invert),
    "googleplus": ($googleplus, $googleplus-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-visited: $grey;
$link-focus-border: $primary;

@import "~bulma";
@import "../../../src/scss/buefy";

@import "~highlight.js/styles/atelier-cave-light.css";
