// Colors
$primary: #7957d5;
$primary-invert: findColorInvert($primary);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-visited: $grey;
$link-focus-border: $primary;

// Font
$weight-semibold: 600;
$weight-bold: 700;
