$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

$buefy: #7957d5 !default;
$primary: $buefy !default;
$primary-invert: findColorInvert($buefy) !default;
$primary-light: findLightColor($buefy) !default;
$primary-dark: findDarkolor($buefy) !default;

$info: #167df0 !default;

$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $grey !default;
$link-focus-border: $primary !default;

$label-weight: $weight-semibold !default;
$input-arrow: $buefy !default;
