$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

$primary: #7957d5 !default;
$primary-invert: $white !default;

$info: #167df0;

$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $grey !default;
$link-focus-border: $primary !default;

$clock-picker-number-font-size: 18px;
$clock-picker-indicator-size: 40px;
$clock-picker-endpoint-size: 10px;
$clock-picker-time-font-size: 60px;