@use "bulma/sass/utilities/css-variables" as cv;

.footer {
    position: relative;
    .footer-label {
        text-transform: uppercase;
        font-weight: cv.getVar('weight-bold');
        padding-bottom: 1rem;
        &:not(:first-child) {
            padding-top: 1rem;
        }
    }
}
