@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mixins;

::selection {
    background: cv.getVar('primary-soft');
    color: cv.getVar('primary-invert');
}

html.is-clipped-touch {
    @include mixins.touch {
        overflow: hidden !important;
    }
}

.media-content {
    overflow-y: hidden;
    overflow-x: auto;
}
