@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mixins;

.documentation {
    position: relative;
    .docs-template-horizontal {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .docs-main {
        position: relative;
        background: cv.getVar('scheme-main');
        overflow: hidden;
        width: 100%;
    }
    .docs-main-container {
        padding: 3rem;
        &.is-header {
            border-bottom: 2px solid cv.getVar('scheme-main-ter');
        }
    }
    .docs-improve-this {
        text-align: center;
        margin-top: 5em;
        padding-top: 1.5rem;
        border-top: 2px solid cv.getVar('scheme-main-ter');
    }
    @include mixins.touch {
        .docs-template-horizontal {
            flex-direction: column;
        }
        .docs-main-container {
            padding: 1.5rem;
        }
    }
    @include mixins.fullhd {
        .docs-main-container {
            margin-right: -3rem;
        }
    }
}
