
// Forward Bulma with configuration - this makes it available with the custom primary color
@forward "bulma/sass" with (
    $primary: #7957d5,
);

$twitter: #4099FF;
$discord: #7289DA;
$bulma: #00D1B2;
$vuetelemetry: #0bdca0;

:root {
    --primary: #7957d5;
    --twitter: #4099FF;
    --discord: #7289DA;
    --bulma: #00D1B2;
    --vuetelemetry: #0bdca0;
}

