@use "bulma/sass/utilities/controls" as controls;
@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mixins;

.#{iv.$class-prefix}dialog {
    .modal-card {
        max-width: 460px;
        width: auto;
        .modal-card-head {
            font-size: cv.getVar('size-5');
            font-weight: cv.getVar('weight-semibold');
        }
        .modal-card-body {
            .field {
                margin-top: 16px;
            }
            &.is-titleless {
                border-top-left-radius: cv.getVar('card-radius');
                border-top-right-radius: cv.getVar('card-radius');
            }
        }
        .modal-card-foot {
            justify-content: flex-end;
            .button {
                display: inline; // Fix Safari centering
                min-width: 5em;
                font-weight: cv.getVar('weight-semibold');
            }
        }
        @include mixins.tablet {
            min-width: 320px;
        }
    }
    &.is-small {
        .modal-card,
        .input,
        .button {
            @include controls.control-small;
        }
    }
    &.is-medium {
        .modal-card,
        .input,
        .button {
            @include controls.control-medium;
        }
    }
    &.is-large {
        .modal-card,
        .input,
        .button {
            @include controls.control-large;
        }
    }
    &.has-custom-container {
        position: absolute;
    }
}
