@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/mixins" as mixins;
@use "bulma/sass/utilities/extends";

.#{iv.$class-prefix}modal {
    &.is-embedded {
        position: relative;
        display: block;
    }
    &.is-full-screen {
        > .animation-content,
        > .animation-content > .modal-card {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            margin: 0;
            background-color: cv.getVar('background');
        }
    }
    .animation-content {
        margin: 0 20px;
        .modal-card {
            margin: 0;
        }
        @include mixins.mobile {
            width: 100%;
        }
    }
    .modal-content {
        width: 100%;
    }
}
