@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/mixins" as mixins;


.#{iv.$class-prefix}tag {
    .has-ellipsis {
        max-width: 10em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.has-delete-icon {
        padding: 0px;
        .icon:first-child:not(:last-child) {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

.tags {
    &.inline-tags {
        margin-bottom: 0px;
        &:not(:last-child) {
            @include mixins.ltr-property("margin", 0.5rem);
        }
    }
}
